.imageSelectorContainer {
  position: fixed !important;
  top: 50% !important;
  left: 59%;
  transform: translate(-50%, -50%) !important;
  z-index: 9999 !important;
  background-color: #fff !important;
  padding: 20px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;
  width: 80%;
}

.imageSelectorShow {
  opacity: 1;
  transform: 5s;
  transition: all;
}

.addMediaText {
  cursor: pointer;
}

.imageSelectorHide {
  display: none !important;
}

.background {
  height: 100vh;
  overflow-y: auto;
}

.imageGallery {
  height: 250px;
  border: 1px solid #f3f3f3 !important;
  overflow: auto;
}

.onFileUpload {
  opacity: 0;
  border: 15px;
  height: 350px;
  width: 350px;
  padding: 0;
  margin: 0;
  left: 4%;
  top: 29%;
  cursor: pointer;
}

.onFileUploadContainerShow {
  /* display: block;
    top: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; */
  position: absolute;
}

.onFileUploadContainerHide {
  display: none;
}

.onFileUploadIcon {
  font-size: 30px;
  cursor: pointer;
  /* position: absolute; */
  top: -45px;
  left: 75px;
}

.onFileUploadTextShow {
  /* position: absolute; */
  font-size: 12px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.onFileUploadTextHide {
  display: none;
  position: relative;
}

.SearchIcon {
  background-color: #f3f3f3 !important;
  border-radius: none;
  width: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.individualImage {
  height: 100px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}

.individualImagepreview {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.checkMarkEnable {
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 20px;
  background-color: #41d141;
  color: white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin: auto;
  padding-left: 5px;
}

.checkMarkDisable {
  display: none;
}

.closeMarkEnable {
  display: block;
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 10px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  margin: auto;
  display: flex;
  margin: auto;
  align-items: center;
  padding-left: 7px;
  cursor: pointer;
}

.closeMarkDisable {
  display: none;
  cursor: pointer;
}

.UploadButton {
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
  color: #ffffff;
  background-color: var(--admin-color);
  border-color: var(--admin-color);
}

.closeIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 15px;
  cursor: pointer;
}

.closeIcon:hover {
  color: red;
}

.imageGalleryTitle {
  background-color: #f3f3f3;
  padding: 10px;
  text-align: center;
  border: none;
}

button {
  transition: all 0.2s ease-out;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.SearchIcon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  margin-top: 25%;
}

.selectedFilesText {
  color: #868686 !important;
  padding: 0px 15px !important;
  font-size: 13px;
}

.ImagepreviewWrapperHide {
  height: 0px;
}

.Imagepreviewtitle {
  font-size: 10px;
}

.addMedia {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addMediaSection {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.addMediaSection img {
  height: 80px;
  object-fit: contain;
  border-radius: 10px;
}

.circleAddIconInProfile {
  position: absolute !important;
  top: 65px !important;
  right: 20px !important;
  cursor: pointer !important;
  font-size: 20px !important;
  color: #05bbc9 !important;
}

.addMediaWrapper {
  border-radius: 10px;
  border: 1px dashed;
  margin: 5%;
}

.notacceptMultipleFiles {
  border-radius: 10px;
  border: 1px dashed;
}

.featuredImageBlock {
  border-radius: 10px;
  border: 1px dashed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
}

.featuredImage {
  border-radius: 10px;
  border: 1px dashed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
}

.image-container {
  position: relative;
  display: block;
  height: 100px;
  width: 107px;
  padding: 5px;
}

.featuredDeleteImage {
  top: 5px;
  position: absolute;
  height: 250px;
  border-radius: 10px;
  opacity: 0.8;
}

.featuredDeleteImage:hover {
  top: 5px;
  position: absolute;
  height: 240px;
  width: 240px;
  background-color: #e1fdff;
  border-radius: 10px;
  opacity: 0.9;
  transition: 0.3s;
}

.deleteImage {
  top: 5px;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  opacity: 0.8;
  cursor: pointer;
}

.deleteImage:hover {
  top: 5px;
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #e1fdff;
  border-radius: 10px;
  opacity: 0.9;
  transition: 0.3s;
}

.featuredDeleteImage .trashIconShow {
  opacity: 0;
  height: 240px;
  width: 240px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.trashIconShow {
  opacity: 0;
  /* height: 80px; */
  width: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.featuredDeleteImage .trashIconShow:hover {
  opacity: 1;
  transition: 0.3s;
  height: 240px;
  width: 240px;
  color: white;
}

.trashIconShow:hover {
  opacity: 1;
  transition: 0.3s;
  height: 60px;
  width: 60px;
  color: white;
}

.cancel-button {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
  background-color: transparent;
  border: none;
  color: #ffff;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: var(--admin-color);
  border-radius: 50%;
}

.cancel-button:hover {
  background-color: #ff0000;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.SearchGroup {
  position: relative;
  display: flex;
}

.SearchBox {
  border: 1px solid #f3f3f3 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.closePopup {
  position: absolute;
  top: 0px;
  right: 2px;
  font-size: 10px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto;
}

.groupImages {
  position: relative;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.groupImages .imageName {
  font-size: 13px !important;
}

.radioButton {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 15px !important;
}

.add_icon {
  height: 70px;
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.primary_image_select {
  border: 3px solid #05bbc9;
  padding: 5px;
}

.primary_image_text {
  font-size: 8px;
  margin: 3px;
}

.checkbox {
  cursor: pointer;
}

.add_icon_single_image {
  height: 70px;
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.featuredDeleteImage .trashIconShow i {
  font-size: 50px;
  font-weight: 400;
  color: rgb(132, 132, 132);
  margin: auto;
  stroke-width: 10px;
}

.featuredDeleteImage .trashIconShow .mdi-window-close:hover {
  color: #ff6b6b;
}

.deleteImage .trashIconShow i {
  font-size: 25px;
  color: rgb(132, 132, 132);
  margin: 6px;
}

.deleteImage .trashIconShow .mdi-window-close:hover {
  color: #ff6b6b;
}

.single-image-container {
  position: relative;
  display: block;
  height: 250px;
  width: 250px;
  padding: 5px;
}

.single-image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.gallery-image-container {
  position: relative;
  display: block;
  height: 60px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  width: 60px;
  padding: 5px;
  margin-right: 5px;
}

.gallery-image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;

}

.deleteSingleImage {
  top: 5px;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  opacity: 0.8;
}

.deleteSingleImage:hover {
  top: 5px;
  position: absolute;
  height: 90px;
  width: 88x;
  background-color: #e1fdff;
  border-radius: 10px;
  opacity: 0.9;
  transition: 0.3s;
}

.deleteSingleImage .trashIconShow {
  opacity: 0;
  height: 240px;
  width: 240px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.deleteSingleImage .trashIconShow {
  opacity: 0;
  height: 90px;
  width: 90px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.deleteSingleImage .trashIconShow:hover {
  opacity: 1;
  transition: 0.3s;
  height: 90px;
  width: 90px;
  color: white;
}

.deleteSingleImage .trashIconShow:hover {
  opacity: 1;
  transition: 0.3s;
  height: 90px;
  width: 90px;
  color: white;
}

.deleteSingleImage .trashIconShow i {
  font-size: 30px;
  color: rgb(132, 132, 132);
  margin: 28px;
}

.deleteSingleImage .trashIconShow .mdi-window-close:hover {
  color: #ff6b6b;
}

.store_name_as_logo {
  width: 75px;
  height: 75px;
  background-color: #ececec;
  color: #9d9d9d;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_popUp {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.close_popUp:hover {
  color: #ff0000;
}

.Imageupload {
  position: relative;
}

.image_upload_condition {
  font-size: 12px;
}

.multiple_image_upload {
  border: 1px dashed;
  margin: 10px;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiple_image_upload:hover {
  background-color: #fbfbfb;
}

.display_mutiple_images {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: 290px;
  overflow: auto;
}

.display_mutiple_images::-webkit-scrollbar {
  width: 4px;
  height: 20px;
}

.display_mutiple_images::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.display_mutiple_images::-webkit-scrollbar-thumb {
  background-color: #888;
  height: 50px;
  /* Adjust the height of the scrollbar thumb */
}

.display_mutiple_images::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.display_mutiple_images::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

.display_mutiple_images::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
}

.display_mutiple_images::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}

.display_mutiple_images::-webkit-scrollbar-thumb:vertical:active {
  background-color: #555;
}

.display_mutiple_images::-webkit-scrollbar-thumb:horizontal:active {
  background-color: #555;
}

.display_mutiple_images_closeIcon_wrapper {
  position: relative;
  top: -55px;
  cursor: pointer;
}

.display_mutiple_images_closeIcon_wrapper:hover {
  color: #ff0000;
}

.display_mutiple_images img {
  height: 125px;
  width: 125px;
  object-fit: contain;
  border-radius: 10px;
  margin: 5px;
  position: relative;
}

.display_mutiple_images_wrapper {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individualImage:hover {
  transform: scale(1.1);
}

.image_gallery_is_empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.image_gallery_is_empty:hover {
  color: var(--admin-color);
}

.image_selector_Pagination {
  margin: 5px;
}

.image_gallery_is_empty {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.image_upload_progress_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_upload_progress_bar span {
  color: #41d141;
}

.single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.onFileUploadTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.onFileUploadTextShow {
  text-align: center;
  cursor: pointer;
}

/* Add any additional styling you want */